<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/createForm.css")
    @Styles.Render("~/Content/outputTable.css")
    @Styles.Render("~/Content/icons.css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="layoutContainer">
        <div class="layoutCard">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/a4019fc045.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>