
@model IEnumerable<myBudget.Entity.incomes>

@{
    ViewBag.Title = "Incomes";
}
<div class="d-flex justify-content-center text-center align-items-center">
    <p class="col-2"> @Html.ActionLink(" ", "Index", "Home", null, new { @class = "fas fa-chevron-left fa-3x" })</p>
    <h1 class="col-8">Incomes</h1>
    <p class="col-2">@Html.ActionLink(" ", "Create", null, new { @class = "fas fa-plus-circle fa-3x" })</p>
</div>
<div class="TableContainer">
    <table class="table table-borderless">
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Date</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.incomeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.incomeAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.incomeDate)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "fas fa-pen fa-lg" })
                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fas fa-trash fa-lg" })
                </td>
            </tr>
        }
    </table>
</div>


